<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- style -->
    <style>
      body * {
        margin: auto;
        font-size: 12px;
        border: 5px solid #e9e9e9;
        border-radius: 10px;
      }
      #header {
        position: relative;
        border: 0px;
      }
      #header_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: pre;
        height: fit-content;
        width: fit-content;
        border: 0px;
      }
      #message_list {
        position: relative;
        background-color: antiquewhite;
      }
      #message_content {
        position: absolute;
        top: 0%;
        bottom: 15%;
        left: 0%;
        right: 0%;
        overflow: scroll;
      }
      .message_div {
        position: relative;
        margin-bottom: 5px;
        margin-left: 3px;
        height: auto;
        width: fit-content;
        max-width: 80%;
        word-wrap: break-word;
      }
      #input {
        position: absolute;
        bottom: 0%;
        left: 0%;
        height: 5%;
        outline: none;
      }
      #button {
        position: absolute;
        bottom: 0%;
        right: 0%;
        background-color: cornflowerblue;
        height: fit-content;
        width: fit-content;
      }
		</style>
    <!-- scripts -->
    <script>
      var message_div_ratio = 0.05;
      var max_message = 100;
      var web_socket;
      function set_height_width(item_id, height, height_scale, width, width_scale) {
        var js_object = document.getElementById(item_id);
        var js_object_style = window.getComputedStyle(js_object);
        js_object.style.height = (height * height_scale - (js_object.offsetHeight - parseFloat(js_object_style.height))) + "px";
        js_object.style.width = (width * width_scale - (js_object.offsetWidth - parseFloat(js_object_style.width))) + "px";
      }
      // height_flag true for inner, false for apposition
      // width flag for change width or not
      function set_font_size(item_id, target_id, scale, height_flag, width_flag) {
        var js_item = document.getElementById(item_id);
        var js_item_style = window.getComputedStyle(js_item);
        var js_target = document.getElementById(target_id);
        var js_target_style = window.getComputedStyle(js_target);
        if (height_flag) {
          var font_height = (js_target.clientHeight - js_item.offsetHeight) + parseFloat(js_item_style.fontSize);
        }
        else {
          var font_height = (js_target.offsetHeight - js_item.offsetHeight) + parseFloat(js_item_style.fontSize);
        }
        if (width_flag) {
          var extra_width = js_item.scrollWidth - parseFloat(js_item_style.width) + 2 * parseFloat(js_item_style.border);
          var font_width = (parseFloat(js_target_style.width) - extra_width) / parseFloat(js_item_style.width) * parseFloat(js_item_style.fontSize);
        }
        else {
          var font_width = font_height;
        }
        js_item.style.fontSize = Math.min(font_height, font_width) * scale + "px";
      }
      // update function
      function update() {
        // set header and message_list position
        var js_screen_height = window.innerHeight;
        var js_screen_width = window.innerWidth;
        set_height_width("header", js_screen_height, 0.05, js_screen_width, 0.99);
        set_height_width("message_list", js_screen_height, 0.9, js_screen_width, 0.7);

        // set font size for header_text and button
        set_font_size("header_text", "header", 1.0, true, true);
        set_font_size("button", "input", 1.0, false, false);
        var js_input = document.getElementById("input");
        js_input.style.fontSize = js_input.clientHeight * 0.7 + "px";
        js_input.style.right = document.getElementById("button").offsetWidth + "px";

        // set font size for message_div
        set_message_font();

      }
      // add function
      window.onload = update;
      window.onresize = update;

      // add list function
      function set_message_font() {
        var js_message_content = document.getElementById("message_content");
        var js_message_div = document.getElementsByClassName("message_div");
        for (let i=0; i<js_message_div.length; i++){
          js_message_div[i].style.fontSize = js_message_content.clientHeight * message_div_ratio + "px";
        }
      }
      function delete_message() {
        var js_message_div = document.getElementsByClassName("message_div");
        if (js_message_div.length > max_message) {
          for (let i=js_message_div.length-max_message-1; i>=0; i--) {
            js_message_div[i].remove();
          }
        }
      }
      function add_message(value) {
        var js_message_content = document.getElementById("message_content");
        var new_div = document.createElement("div");
        new_div.setAttribute("id", Date.parse(new Date()).toString());
        new_div.setAttribute("class", "message_div");
        new_div.setAttribute("style", "font-size: " + js_message_content.clientHeight * message_div_ratio + "px");
        new_div.innerText = value;
        js_message_content.appendChild(new_div);
        js_message_content.scrollTo(0, js_message_content.scrollHeight);
        delete_message();
      }
      function send_message() {
        var js_input = document.getElementById("input");
        if (process_value(js_input.value)) {
          return;
        }
        // send message
        if (typeof(web_socket) == "undefined") {
          alert("web socket not defined, please input init to init a web socket");
        }
        web_socket.send(js_input.value);
        js_input.value = "";
      }
      function on_key_press(event) {
        if (event.keyCode == 13) {
          send_message();
        }
      }
      function process_value(value) {
        if (value.length == 0) {
          return true
        }
        if (value == "init") {
          // web scoket
          web_socket = new WebSocket("ws://<%=ip%>:<%=port%>/web_socket");
          return true
        }
        return false
      }
      process_value("init");
    </script>
  </head>
  <body style="height: 99%;">
    <div id="header">
      <div id="header_text">Web Chat</div>
    </div>
    <div id="message_list">
      <div id="message_content">
      </div>
      <input type="text" id="input", onkeypress="on_key_press(event)">
      <button id="button" onclick="send_message()">S</button>
    </div>
  </body>

</html>
