<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- style -->
    <style>
      body * {
        margin: auto;
        font-size: 12px;
        border: 5px solid #e9e9e9;
        border-radius: 10px;
      }
      #header {
        position: relative;
        border: 0px;
      }
      #header_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: pre;
        height: fit-content;
        width: fit-content;
        border: 0px;
      }
      #message_list {
        position: relative;
        background-color: antiquewhite;
      }
      #input {
        position: absolute;
        bottom: 0%;
        left: 0%;
        height: 5%;
      }
      #button {
        position: absolute;
        bottom: 0%;
        right: 0%;
        background-color: cornflowerblue;
        height: fit-content;
        width: fit-content;
      }
		</style>
    <!-- scripts -->
    <script>
      function set_height_width(item_id, height, height_scale, width, width_scale) {
        var js_object = document.getElementById(item_id);
        var js_object_style = window.getComputedStyle(js_object);
        js_object.style.height = (height * height_scale - (js_object.offsetHeight - parseFloat(js_object_style.height))) + "px";
        js_object.style.width = (width * width_scale - (js_object.offsetWidth - parseFloat(js_object_style.width))) + "px";
      }
      // height_flag true for inner, false for apposition
      // width flag for change width or not
      function set_font_size(item_id, target_id, scale, height_flag, width_flag) {
        var js_item = document.getElementById(item_id);
        var js_item_style = window.getComputedStyle(js_item);
        var js_target = document.getElementById(target_id);
        var js_target_style = window.getComputedStyle(js_target);
        if (height_flag) {
          var font_height = (js_target.clientHeight - js_item.offsetHeight) + parseFloat(js_item_style.fontSize);
        }
        else {
          var font_height = (js_target.offsetHeight - js_item.offsetHeight) + parseFloat(js_item_style.fontSize);
        }
        if (width_flag) {
          var extra_width = js_item.scrollWidth - parseFloat(js_item_style.width) + 2 * parseFloat(js_item_style.border);
          var font_width = (parseFloat(js_target_style.width) - extra_width) / parseFloat(js_item_style.width) * parseFloat(js_item_style.fontSize);
        }
        else {
          var font_width = font_height;
        }
        js_item.style.fontSize = Math.min(font_height, font_width) * scale + "px";
      }
      // update function
      function update() {
        // set header and message_list position
        var js_screen_height = window.innerHeight;
        var js_screen_width = window.innerWidth;
        set_height_width("header", js_screen_height, 0.05, js_screen_width, 0.99);
        set_height_width("message_list", js_screen_height, 0.9, js_screen_width, 0.7);

        // set font size for header_text and button
        set_font_size("header_text", "header", 1.0, true, true);
        set_font_size("button", "input", 1.0, false, false);
        var js_input = document.getElementById("input");
        js_input.style.fontSize = js_input.clientHeight * 0.7 + "px";
        js_input.style.right = document.getElementById("button").offsetWidth + "px";
      }
      // add function
      window.onload = update;
      window.onresize = update;
    </script>
  </head>
  <body style="height: 99%;">
    <div id="header">
      <div id="header_text">Web Chat</div>
    </div>
    <div id="message_list">
      <input type="text" id="input"><button id="button">send</button>
    </div>
  </body>

</html>
